In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [8]:
df = pd.read_csv("nifty_sec.csv", header=0, index_col='Unnamed: 0')

In [9]:
df.head()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5.0,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10.0,1,INE253B01015,10
2,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10.0,1,INE748C01038,10
3,3MINDIA,3M India Limited,EQ,13-AUG-2004,10.0,1,INE470A01017,10
4,3PLAND,3P Land Holdings Limited,EQ,19-JUL-1995,2.0,1,INE105C01023,2

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1787 entries, 0 to 1786
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SYMBOL            1787 non-null   object
 1   NAME OF COMPANY   1787 non-null   object
 2    SERIES           1787 non-null   object
 3    DATE OF LISTING  1787 non-null   object
 4    PAID UP VALUE    1787 non-null   float64
 5    MARKET LOT       1787 non-null   int64
 6    ISIN NUMBER      1787 non-null   object
 7    FACE VALUE       1787 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 125.6+ KB